# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.FooderiaTycoonCoreLibrary.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jasch\RiderProjects\fooderia_tycoon_core_library\FooderiaTycoonCoreLibrary\.idea\.idea.FooderiaTycoonCoreLibrary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
